@import "tailwindcss";

/* DEFAULT = DARK */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* LIGHT MODE */
.light {
  --background: linear-gradient(135deg, #ffffff, #f5eefc, #582193); 
  --foreground: #2d004d; /* Deep plum-slate to complement the purple tones */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
